* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 1200px;
  margin: 20px auto;
}
#header {
  background-color: rgb(168, 184, 217);
  width: 100%x;
  height: 120px;
}
#left-sidebar {
  background-color: antiquewhite;
  width: 250px;
  height: 600px;
  float: left;
}
#contents {
  background-color: beige;
  width: 800px;
  height: 600px;
  float: left;
}
#right-sidebar {
  background-color: bisque;
  width: 150px;
  height: 600px;
  float: right;
}
#footer {
  background-color: rgb(168, 184, 217);
  width: 100%;
  height: 100px;
  clear: left;
}
